<h1>Search Results </h1>
<%= link_to 'back' , new_search_path %>

<% if @search.search_books.empty? %>
  <p>no results found</p>
  <% else %>
    <% @search.search_books.each do |book| %>
      <br>
      <div class="div">
        <h1> <%= book.name %> </h1>
        <h2> <%= book.price %> </h2>
        <h2> <%= book.category %> </h2>
        <h2> <%= book.isbn %> </h2>
      </div>
  <% end %>
<% end %>